build*/

Makefile.in

/autom4te.cache
/aclocal.m4
/compile
/configure
/config
/depcomp
/install-sh
/m4
/missing

stamp-h1
libtool

common/autotools/config.h
common/autotools/config.h.in
config.log
config.status
*.make
.deps
.libs

ufo/*ufo-enums.*

*.o
*.lo
*.a
*.la
*.gir
*.typelib
*.pc
ufod
ufo-runjson
Makefile

*.pyc
python/dist
python/ufo.egg-info
/.project
CMakeLists.txt.user